/*========================*/
/*      Info Styles       */
/*========================*/

.info-section {
  width: 200px;
  margin: auto;
}

.info-section > * {
  font-size: 1.5rem;
  text-align: center;
}

/*========================*/
/*      Board Styles      */
/*========================*/

.board-section {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 420px;
  height: 420px;
}

.cell {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
}

/*========================*/
/*       Ship Styles      */
/*========================*/

.options-section {
  display: flex;
  align-items: center;
  height: 250px;
  padding-left: 15%;
  background-color: aqua;
}
.destroyer {
  background-color: purple;
}

.submarine {
  background-color: green;
}

.cruiser {
  background-color: hotpink;
}

.battleship {
  background-color: orange;
}

.carrier {
  background-color: darkcyan;
}

.preview {
  height: 30px;
  margin: 3px;
}

.destroyer-preview {
  width: 80px;
}

.submarine-preview {
  width: 120px;
}

.cruiser-preview {
  width: 40px;
}

.battleship-preview {
  width: 160px;
}

.carrier-preview {
  width: 200px;
}

.hover {
  background-color: gray;
}

.miss {
  background-color: grey;
}

.hit {
  background-color: red;
}
